@model List<Entities.Concrete.VehicleType>
@{
    ViewBag.Title = "VehicleTypes";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row text-center justify-content-center mainDiv">
    @if (TempData["VehicleTypeAddSuccess"] != null)
    {
        <div class="vehicleTypeCrudResultSuccessDiv">
            <p><span><i class="fas fa-check-circle"></i></span>@TempData["VehicleTypeAddSuccess"]</p>
        </div>
    }
    @if (TempData["VehicleTypeUpdateSuccess"] != null)
    {
        <div class="vehicleTypeCrudResultSuccessDiv">
            <p><span><i class="fas fa-check-circle"></i></span>@TempData["VehicleTypeUpdateSuccess"]</p>
        </div>
    }
    @if (TempData["VehicleTypeDeleteSuccess"] != null)
    {
        <div class="vehicleTypeCrudResultSuccessDiv">
            <p><span><i class="fas fa-check-circle"></i></span>@TempData["VehicleTypeDeleteSuccess"]</p>
        </div>
    }
    <div class="subDiv">
        <h2 class="vehicleTypesHeaderText">Araç Tipleri</h2>
        <div class="vehicleTypesAddDiv">
            <a href="@Url.Action("VehicleTypeAdd","Admin")" class="btn btn-success">Araç Tipi Ekle</a>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Araç Tipi</th>
                    <th>Güncelle</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicleType in Model)
                {
                    <tr>
                        <td>@vehicleType.Id</td>
                        <td>@vehicleType.AracTuru</td>
                        <td><a href="/Admin/VehicleTypeUpdate/@vehicleType.Id" class="vehicleTypeUpdateIcon"><i class="fas fa-edit"></i></a></td>
                        <td><a href="/Admin/VehicleTypeDelete/@vehicleType.Id" class="vehicleTypeDeleteIcon"><i class="fas fa-trash"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section CssFile{
    <link href="@Url.Content("~/Contents/AdminVehicleTypes.css")" rel="stylesheet" type="text/css" /> }
