@model OTSWebUI.ViewModels.PasswordUpdate
@{
    ViewBag.Title = "PasswordUpdate";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="row justify-content-center mainDiv">
    @if (ViewBag.PasswordUpdateSuccess != null)
    {
        <div class="profileUpdateSuccessMessaege mt-3">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.PasswordUpdateSuccess
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    }
    @if (ViewBag.PasswordUpdateFailed != null)
    {
        <div class="passwordUpdateSuccessMessaege mt-3">
            <div class="row passwordUpdateFailedDiv">
                <p>@ViewBag.PasswordUpdateFailed</p>
            </div>
        </div>
    }
    <div class="subDiv">
        <div class="row subDivHeaderDiv text-center">
            <p>Parola Güncelleme</p>
        </div>
        <div class="row subDivUserIcon text-center">
            <i class="fas fa-lock"></i>
        </div>
        <div class="row personalInformationFormDiv">
            @using (Html.BeginForm("PasswordUpdate", "Profile", FormMethod.Post, new { @autocomplete = "off" }))
            {
                <div class="form-group pt-3">
                    <label for="oldPassword">Mevcut Parola</label>
                    @Html.TextBoxFor(c => c.OldPassword, new { @id = "oldPassword", @class = "form-control", @type = "password", @maxlength = "20" })
                </div>
                <div class="form-group mt-4 pt-2">
                    <label for="newPassword">Yeni Parola</label>
                    @Html.TextBoxFor(c => c.NewPassword, new { @id = "newPassword", @class = "form-control", @type = "password", @maxlength = "20" })
                </div>
                <div class="form-group mt-4 pt-2">
                    <label for="newPasswordConfirm">Yeni Parola Tekrar</label>
                    @Html.TextBoxFor(c => c.NewPasswordConfirm, new { @id = "newPasswordConfirm", @class = "form-control", @type = "password", @maxlength = "20" })
                </div>
                <div class="text-center mt-4 mb-3">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            }
        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
@section CssFile{
    <link href="@Url.Content("~/Contents/PasswordUpdate.css")" rel="stylesheet" type="text/css" /> }

